// Custom variables overwrites.
$global-primary-background: #ff9a27;
$global-link-color: $global-primary-background;
$global-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
details summary::-webkit-details-marker {
  display:none;
}

.mono-font{
  font-family: "Courier New", sans-serif;
}

//New background for RFC
.custom-developing-background {
  background-image: url("../../src/images/backgrounds/developing.jpeg");
}

// 2. Import default variables and available mixins.
@import "variables-theme.scss";
@import "mixins-theme.scss";

// 4. Import UIkit.
@import "uikit-theme.scss";
